SERVICE_USER_MINIO=CHANGE_ME
SERVICE_PASSWORD_MINIO=CHANGE_ME
SERVICE_PASSWORD_POSTGRES=CHANGE_ME
SERVICE_URL_SUPABASEKONG=http://your-domain.example.com
SERVICE_FQDN_SUPABASEKONG=your-domain.example.com
SERVICE_URL_SUPABASEKONG_8000=http://your-domain.example.com:8000
SERVICE_FQDN_SUPABASEKONG_8000=your-domain.example.com:8000
SERVICE_USER_ADMIN=CHANGE_ME
SERVICE_PASSWORD_ADMIN=CHANGE_ME
SERVICE_SUPABASEANON_KEY=CHANGE_ME
SERVICE_PASSWORD_JWT=CHANGE_ME
SERVICE_SUPABASESERVICE_KEY=CHANGE_ME
SERVICE_ROLE_KEY_ASYMMETRIC=
SERVICE_PASSWORD_PGMETACRYPTO=CHANGE_ME
SERVICE_PASSWORD_LOGFLARE=CHANGE_ME
SERVICE_PASSWORD_LOGFLAREPRIVATE=CHANGE_ME
SERVICE_PASSWORD_SUPAVISORSECRET=CHANGE_ME
SERVICE_PASSWORD_VAULTENC=CHANGE_ME
JWT_SECRET=${SERVICE_PASSWORD_JWT}
SUPABASE_ANON_KEY=${SERVICE_SUPABASEANON_KEY}
SUPABASE_SERVICE_KEY=${SERVICE_SUPABASESERVICE_KEY}
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
DASHBOARD_USERNAME=${SERVICE_USER_ADMIN}
DASHBOARD_PASSWORD=${SERVICE_PASSWORD_ADMIN}
KONG_STORAGE_CONNECT_TIMEOUT=60
KONG_STORAGE_WRITE_TIMEOUT=3600
KONG_STORAGE_READ_TIMEOUT=3600
KONG_STORAGE_REQUEST_BUFFERING=false
KONG_STORAGE_RESPONSE_BUFFERING=false
POSTGRES_PASSWORD=${SERVICE_PASSWORD_POSTGRES}
POSTGRES_HOST=supabase-db
POSTGRES_PORT=5432
ANON_KEY_ASYMMETRIC=
POSTGRES_DB=admin
PGRST_DB_SCHEMAS=public,storage,graphql_public
PGRST_DB_MAX_ROWS=1000
PGRST_DB_EXTRA_SEARCH_PATH=public
STUDIO_DEFAULT_ORGANIZATION=Default Organization
STUDIO_DEFAULT_PROJECT=Default Project
SUPABASE_PUBLIC_URL=${SERVICE_URL_SUPABASEKONG}
AUTH_JWT_SECRET=${SERVICE_PASSWORD_JWT}
PG_META_CRYPTO_KEY=${SERVICE_PASSWORD_PGMETACRYPTO}
LOGFLARE_API_KEY=${SERVICE_PASSWORD_LOGFLARE}
LOGFLARE_PUBLIC_ACCESS_TOKEN=${SERVICE_PASSWORD_LOGFLARE}
LOGFLARE_PRIVATE_ACCESS_TOKEN=${SERVICE_PASSWORD_LOGFLAREPRIVATE}
NEXT_PUBLIC_SUPABASE_URL=${SERVICE_URL_SUPABASEKONG}
NEXT_PUBLIC_SUPABASE_ANON_KEY=${SERVICE_SUPABASEANON_KEY}
OPENAI_API_KEY=
PGPASSWORD=${SERVICE_PASSWORD_POSTGRES}
JWT_EXPIRY=3600
POSTGRES_HOSTNAME=supabase-db
DB_PASSWORD=${SERVICE_PASSWORD_POSTGRES}
PGRST_JWT_SECRET=${SERVICE_PASSWORD_JWT}
PGRST_APP_SETTINGS_JWT_SECRET=${SERVICE_PASSWORD_JWT}
API_EXTERNAL_URL=http://supabase-kong:8000
GOTRUE_SITE_URL=${SERVICE_URL_SUPABASEKONG}
ADDITIONAL_REDIRECT_URLS=
DISABLE_SIGNUP=false
GOTRUE_JWT_SECRET=${SERVICE_PASSWORD_JWT}
ENABLE_EMAIL_SIGNUP=true
ENABLE_ANONYMOUS_USERS=false
ENABLE_EMAIL_AUTOCONFIRM=false
SMTP_ADMIN_EMAIL=
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_SENDER_NAME=
MAILER_URLPATHS_INVITE=/auth/v1/verify
MAILER_URLPATHS_CONFIRMATION=/auth/v1/verify
MAILER_URLPATHS_RECOVERY=/auth/v1/verify
MAILER_URLPATHS_EMAIL_CHANGE=/auth/v1/verify
MAILER_TEMPLATES_INVITE=
MAILER_TEMPLATES_CONFIRMATION=
MAILER_TEMPLATES_RECOVERY=
MAILER_TEMPLATES_MAGIC_LINK=
MAILER_TEMPLATES_EMAIL_CHANGE=
MAILER_SUBJECTS_CONFIRMATION=
MAILER_SUBJECTS_RECOVERY=
MAILER_SUBJECTS_MAGIC_LINK=
MAILER_SUBJECTS_EMAIL_CHANGE=
MAILER_SUBJECTS_INVITE=
ENABLE_PHONE_SIGNUP=true
ENABLE_PHONE_AUTOCONFIRM=true
API_JWT_SECRET=${SERVICE_PASSWORD_JWT}
SECRET_PASSWORD_REALTIME=CHANGE_ME
METRICS_JWT_SECRET=${SERVICE_PASSWORD_JWT}
MINIO_ROOT_USER=${SERVICE_USER_MINIO}
MINIO_ROOT_PASSWORD=${SERVICE_PASSWORD_MINIO}
AWS_ACCESS_KEY_ID=${SERVICE_USER_MINIO}
AWS_SECRET_ACCESS_KEY=${SERVICE_PASSWORD_MINIO}
ANON_KEY=${SERVICE_SUPABASEANON_KEY}
SERVICE_KEY=${SERVICE_SUPABASESERVICE_KEY}
STORAGE_PUBLIC_URL=${SERVICE_URL_SUPABASEKONG}
STORAGE_TENANT_ID=storage-single-tenant
IMGPROXY_AUTO_WEBP=true
PG_META_DB_PASSWORD=${SERVICE_PASSWORD_POSTGRES}
CRYPTO_KEY=${SERVICE_PASSWORD_PGMETACRYPTO}
SUPABASE_SERVICE_ROLE_KEY=${SERVICE_SUPABASESERVICE_KEY}
FUNCTIONS_VERIFY_JWT=false
POOLER_TENANT_ID=dev_tenant
POOLER_DEFAULT_POOL_SIZE=20
POOLER_MAX_CLIENT_CONN=100
SECRET_KEY_BASE=${SERVICE_PASSWORD_SUPAVISORSECRET}
VAULT_ENC_KEY=${SERVICE_PASSWORD_VAULTENC}
POOLER_DB_POOL_SIZE=5
