SERVICE_FQDN_SUPABASEKONG=supabasekong-jjtymvlqbomsdewhkduew9ln.160.187.146.155.sslip.io
SERVICE_URL_SUPABASEKONG=https://api.supabase.sk2.io.vn:8000
SERVICE_FQDN_SUPABASEKONG_8000=api.supabase.sk2.io.vn:8000
SERVICE_URL_SUPABASEKONG_8000=https://api.supabase.sk2.io.vn:8000
SERVICE_PASSWORD_JWT=oZVHRL3gczoXnliZHLLZlOtCJkiDCcF7
SERVICE_SUPABASEANON_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc4ODM0MTA0MCwiZXhwIjo0OTQ0MDE0NjQwLCJyb2xlIjoiYW5vbiJ9.EKBSYoCNqifHFO9QE7XO4R8QqTnIwuRJFV9U8wjpc7c
SERVICE_SUPABASESERVICE_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc4ODM0MTA0MCwiZXhwIjo0OTQ0MDE0NjQwLCJyb2xlIjoic2VydmljZV9yb2xlIn0.-Tik1WgsxmSFRa7CZy6pPEZih2G4jz5GyClPNeFfMv8
SERVICE_ROLE_KEY_ASYMMETRIC=
SERVICE_USER_ADMIN=bKZrecsIfTKQHyYw
SERVICE_PASSWORD_ADMIN=4Zonlg1p8Sjrk1FBglbKHHmEh2UvuDm4
SERVICE_PASSWORD_POSTGRES=08Qt4JUE7jU8cT4N2BIKl05A3EDFcNDs
SERVICE_PASSWORD_PGMETACRYPTO=I9OctO3KoYOIqkd5ZPBaEcyP3LY6QDeL
SERVICE_PASSWORD_LOGFLARE=iDfRklE4BQS2Je6Ul87Sbzp6bQMDjTns
SERVICE_PASSWORD_LOGFLAREPRIVATE=eijJbRDSlZut2IaYNtScOgMSmPD4EBAb
SERVICE_USER_MINIO=pxiGWrdm0C522zwg
SERVICE_PASSWORD_MINIO=3U69MzUmdMVvOhNantl3NeM3wMpxsgUZ
MAILER_SUBJECTS_EMAIL_CHANGE=
MAILER_SUBJECTS_INVITE=
SERVICE_PASSWORD_SUPAVISORSECRET=OsXVcV1w6GF4gk6mtBgfENexG238ADa7
SERVICE_PASSWORD_VAULTENC=l5fwTlAVlHXSmHDaevr4L9qAYAmH3QjU
JWT_SECRET=${SERVICE_PASSWORD_JWT}
SUPABASE_ANON_KEY=${SERVICE_SUPABASEANON_KEY}
SUPABASE_SERVICE_KEY=${SERVICE_SUPABASESERVICE_KEY}
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
ANON_KEY_ASYMMETRIC=
DASHBOARD_USERNAME=${SERVICE_USER_ADMIN}
DASHBOARD_PASSWORD=${SERVICE_PASSWORD_ADMIN}
KONG_STORAGE_CONNECT_TIMEOUT=60
KONG_STORAGE_WRITE_TIMEOUT=3600
KONG_STORAGE_READ_TIMEOUT=3600
KONG_STORAGE_REQUEST_BUFFERING=false
KONG_STORAGE_RESPONSE_BUFFERING=false
POSTGRES_PASSWORD=${SERVICE_PASSWORD_POSTGRES}
POSTGRES_HOST=supabase-db
POSTGRES_PORT=5432
POSTGRES_DB=postgres
PGRST_DB_SCHEMAS=public,storage,graphql_public
PGRST_DB_MAX_ROWS=1000
PGRST_DB_EXTRA_SEARCH_PATH=public
STUDIO_DEFAULT_ORGANIZATION=Default Organization
STUDIO_DEFAULT_PROJECT=Default Project
SUPABASE_PUBLIC_URL=${SERVICE_URL_SUPABASEKONG}
AUTH_JWT_SECRET=${SERVICE_PASSWORD_JWT}
PG_META_CRYPTO_KEY=${SERVICE_PASSWORD_PGMETACRYPTO}
LOGFLARE_API_KEY=${SERVICE_PASSWORD_LOGFLARE}
LOGFLARE_PUBLIC_ACCESS_TOKEN=${SERVICE_PASSWORD_LOGFLARE}
LOGFLARE_PRIVATE_ACCESS_TOKEN=${SERVICE_PASSWORD_LOGFLAREPRIVATE}
NEXT_PUBLIC_SUPABASE_URL=${SERVICE_URL_SUPABASEKONG}
NEXT_PUBLIC_SUPABASE_ANON_KEY=${SERVICE_SUPABASEANON_KEY}
OPENAI_API_KEY=
PGPASSWORD=${SERVICE_PASSWORD_POSTGRES}
JWT_EXPIRY=3600
POSTGRES_HOSTNAME=supabase-db
DB_PASSWORD=${SERVICE_PASSWORD_POSTGRES}
PGRST_JWT_SECRET=${SERVICE_PASSWORD_JWT}
PGRST_APP_SETTINGS_JWT_SECRET=${SERVICE_PASSWORD_JWT}
API_EXTERNAL_URL=http://supabase-kong:8000
GOTRUE_SITE_URL=${SERVICE_URL_SUPABASEKONG}
ADDITIONAL_REDIRECT_URLS=
DISABLE_SIGNUP=false
GOTRUE_JWT_SECRET=${SERVICE_PASSWORD_JWT}
ENABLE_EMAIL_SIGNUP=true
ENABLE_ANONYMOUS_USERS=false
ENABLE_EMAIL_AUTOCONFIRM=false
SMTP_ADMIN_EMAIL=
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_SENDER_NAME=
MAILER_URLPATHS_INVITE=/auth/v1/verify
MAILER_URLPATHS_CONFIRMATION=/auth/v1/verify
MAILER_URLPATHS_RECOVERY=/auth/v1/verify
MAILER_URLPATHS_EMAIL_CHANGE=/auth/v1/verify
MAILER_TEMPLATES_INVITE=
MAILER_TEMPLATES_CONFIRMATION=
MAILER_TEMPLATES_RECOVERY=
MAILER_TEMPLATES_MAGIC_LINK=
MAILER_TEMPLATES_EMAIL_CHANGE=
MAILER_SUBJECTS_CONFIRMATION=
MAILER_SUBJECTS_RECOVERY=
MAILER_SUBJECTS_MAGIC_LINK=
ENABLE_PHONE_SIGNUP=true
ENABLE_PHONE_AUTOCONFIRM=true
API_JWT_SECRET=${SERVICE_PASSWORD_JWT}
SECRET_PASSWORD_REALTIME=
METRICS_JWT_SECRET=${SERVICE_PASSWORD_JWT}
MINIO_ROOT_USER=${SERVICE_USER_MINIO}
MINIO_ROOT_PASSWORD=${SERVICE_PASSWORD_MINIO}
AWS_ACCESS_KEY_ID=${SERVICE_USER_MINIO}
AWS_SECRET_ACCESS_KEY=${SERVICE_PASSWORD_MINIO}
ANON_KEY=${SERVICE_SUPABASEANON_KEY}
SERVICE_KEY=${SERVICE_SUPABASESERVICE_KEY}
STORAGE_PUBLIC_URL=${SERVICE_URL_SUPABASEKONG}
STORAGE_TENANT_ID=storage-single-tenant
IMGPROXY_AUTO_WEBP=true
PG_META_DB_PASSWORD=${SERVICE_PASSWORD_POSTGRES}
CRYPTO_KEY=${SERVICE_PASSWORD_PGMETACRYPTO}
SUPABASE_SERVICE_ROLE_KEY=${SERVICE_SUPABASESERVICE_KEY}
FUNCTIONS_VERIFY_JWT=false
POOLER_TENANT_ID=dev_tenant
POOLER_DEFAULT_POOL_SIZE=20
POOLER_MAX_CLIENT_CONN=100
SECRET_KEY_BASE=${SERVICE_PASSWORD_SUPAVISORSECRET}
VAULT_ENC_KEY=${SERVICE_PASSWORD_VAULTENC}
POOLER_DB_POOL_SIZE=5